@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #1e293b;
  background-color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@layer components {
  .resizable-header {
    @apply relative select-none;
  }
  
  .resizer {
    @apply absolute right-0 top-0 h-full w-2 cursor-col-resize z-10 transition-colors;
  }
  
  .resizer:hover {
    @apply bg-indigo-500/20 border-r-2 border-indigo-500;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-2 border-slate-100;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
